@font-face {
  font-family: Calculator;
  src: url('fonts/POCKC.eot?#iefix') format('embedded-opentype'),
	     url('fonts/POCKC.woff') format('woff'),
	     url('fonts/POCKC.ttf')  format('truetype'),
	     url('fonts/POCKC.svg#svgFontName') format('svg');
}

body {
  background-image: linear-gradient(90deg, HoneyDew, PowderBlue);
  min-height:100%
}
.container {
  font-family: Arial, sans-serif;
}

.heading {
  color: Plum;
}
.screen {
  background-color: DarkSeaGreen;
  font-family: Calculator, monospace;
  font-size: 2.5em;
}

button {
  font-size: 2em;
}
